# Verification _验证_

## A first verification _第一个验证_

## Expecting an Explicit Number of Calls _期望明确的调用次数_

## Specifying Return Values _指定返回值_

## Working with Exceptions _处理异常_

## Creating Return Values or Exceptions _创建返回值或异常_

## Checking Method Call Order Between Mocks _检查模拟之间的方法调用顺序_

## Relaxing Call Counts _放宽呼叫计数_

## Switching Order Checking On and Off _打开和关闭订单检查_

## Flexible Expectations with Argument Matchers _参数匹配器的灵活期望_

## Defining your own Argument Matchers _定义你自己的参数匹配器_
